.main{
    height: 200vh;
}
.page1{
    height: 100vh;
    text-align: center;
    color: black;
    font-size: 50px;
}
.page2{
    height: 100vh;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
}
.icon{
    background-color: white;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 100%;
    position: fixed;
    right:10px;
    bottom: 10px;
}