div{
    background-color: green;
    height: 200px;
    position:relative;
}
h1{
    text-align: center;
    position: relative;
    top:70px;
    /* bottom: 20px; */
    left:700px;
    width: 40px;
    height: 40px;
    border: 2px solid black ;
    border-radius: 50%;
    background-color: white;
}